body {
    background-color: hsl(212, 36%, 90%);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 400px 150px;
    grid-template-areas:
        "a a a b b b"
        "c c d d d d"
        "e e e e e e";
    gap: 16px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 43%, 65%);
    color: white;
}

#one {
    grid-area: a;
}

#two {
    grid-area: b;
}

#three {
    grid-area: c;
}

#four {
    grid-area: d;
}

#five {
    grid-area: e;
}