body {
    color: hsl(211, 65%, 14%);
    background-color: hsl(40, 88%, 97%);
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    margin: 20px;
    padding: 20px;

}